// Estructura

$titulo: 42px;
$subtitulo: 20px;
$texto: 22px;

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

#logo {
    height: 40px;
}

nav {
    background-color: $negro;
    height: 80px;
    width: 100%;
    ul  {
        float: right;
        margin-right: 20px;
        li {
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
            a {
                color: white;
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;
            }
        }
    }
}

li a.active, li a:hover {
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}

section {
    background: url(/assets/images/img2.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}