@import "media-queries";

// Estructura

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

// NAVBAR ESCRITORIO

.navbar-desktop {
    background-color: $negro;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    ul {
        float: right;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
		
        li {
			padding-top: 5px;
            line-height: 70px;
            margin: 0 30px;

            a {
                color: $blanco;
                font-size: $texto-1;
                text-transform: uppercase;
                font-family: $poppins;
                font-weight: $regular;
            }

            a:hover {
                transition: 0.5s;
                color: $celeste-1;
                text-decoration: none;
            }
        }
    }

    .selected-no {
        height: 5px;
    }

    .selected-yes {
        height: 5px;
        background-color: $celeste-1 ;
        border-radius: 3px 3px 0px 0px;
    }

    @media screen and (max-width: $laptop) {
        display: none;
    }

}

.enlace {
  	position: inherit;
  	height: 50px;
  	width: auto;
  	margin: 15px 50px;

  	@media screen and (max-width: $laptop) {
    	position: relative;
    	margin: 20px 50px 20px 4%;
    	height: 45px;
  	}
}

.enlace img {
  	height: 50px;

  	@media screen and (max-width: $laptop) {
    	height: 45px;
	}
}

// NAVBAR MOBILE

.navbar-mobile {
	background-color: $negro;
	height: 80px;
	width: 100%;
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	z-index: 100;

	@media screen and (min-width: $laptop) {
		display: none;
	}
}

.dropbtn {
	background-color: $negro;
	color: $blanco;
	font-size: $titulo-1;
	border: none;
	cursor: pointer;
	margin-right: 25px;
	line-height: 80px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	top: 0;
	left: 40px;
	width: 100%;
	height: 100vh;
	display: none;
	position: fixed;
	background-color: $negro;
	-webkit-box-shadow: -60px 0px 0px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -60px 0px 0px 0px rgba(0, 0, 0, 0.5);
	box-shadow: -60px 0px 0px 0px rgba(0, 0, 0, 0.5);

	hr {
		height: 1px;
		margin-left: 25px;
		margin-right: 65px;
		background-color: #0e3d51;
		border-radius: 50px;
		border-width: 0px;
	}

	a {
		color: $blanco;
		padding: 18px 25px;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		font-family: $poppins;
		font-weight: $regular;
		font-size: $texto-1;
	}
}

.xmarkbtn {
	background-color: $negro;
	color: $blanco;
	padding: 0px 67px 0px 25px;
	font-size: $titulo-1;
	border: none;
	cursor: pointer;
	height: 70px;
	width: 100%;
	text-align: right;
}

.show {
	display: block;
}

//SLIDER

.slideshow-container {
	margin-top: 80px;
	width: 100%;
	height: 400px;
	overflow: hidden;
	background-color: #4a4a4a;

	@media screen and (min-width: $laptop) {
		height: 600px;
	}
}

.slider-textbox {
	height: 380px;
	position: absolute;
	margin-left: 70px;
	color: $blanco;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
	
	@media screen and (min-width: $laptop) {
		height: 600px;
		margin-left: 150px;
	}
}

.slider-image-title {
	font-family: $cairo;
	font-size: $titulo-1;
  	line-height: 40px;
	font-weight: $black;
	text-transform: uppercase;
}

.slider-image-text {
	font-family: "Open Sans", sans-serif;
	width: 70%;
}

.slider-button {
  	font-family: $poppins;
  	font-weight: $medium;
  	color: $blanco;
  	text-transform: uppercase;
  	text-decoration: none;
  	border-radius: 50px;
  	background-color: $celeste-1;
  	width: 15%;
  	text-align: center;
  	margin-top: 20px;
  	padding: 10px 0px;

  	@media screen and (max-width: $laptop) {
		width: 120px;
	}

}

.slider-button:hover {
	text-decoration: none;
	filter: brightness(110%);
}

.mySlides {
	display: none;
}

.slider-img-big{
	z-index: 1;
	filter: brightness(30%);

	@media screen and (max-width: $laptop) {
		display:none;
	}

}

.slider-img-medium{
	z-index: 1;
	filter: brightness(30%);

	@media screen and (min-width: $laptop) {
		display:none;
	}
}


.prev, .next {
	cursor: pointer;
	position: absolute;
	width: 60px;
	margin-top: 150px;
	padding: 20px 14px;
	color: $blanco;
	font-weight: $bold;
	font-size: $titulo-1;
	transition: 0.6s ease;
	border-radius: 0 30px 30px 0;
	user-select: none;
	top: 80px;
	z-index: 3;

	@media screen and (min-width: $laptop) {
		margin-top: 250px;
		padding: 20px 64px 20px 34px;
	}
}

.next {
	right: 0;
	border-radius: 30px 0 0 30px;
	padding-left: 23px;

	@media screen and (min-width: $laptop) {
		margin-top: 250px;
		padding: 20px 54px 20px 34px;
	}
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.dotcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 350px;
    height: 50px;
    width: 100%;
    top: 80px;

    @media screen and (min-width: $laptop) {
        margin-top: 540px;
    }
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 10px 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active,
.dot:hover {
	background-color: $verde-1;
	height: 15px;
	width: 15px;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

//TEXT-BOX

.text-box {
	padding: 80px;
	text-align: center;
	height: auto;

	h1 {
		font-family: $cairo;
		font-weight: $black;
		font-size: $subtitulo-1;
		line-height: 20px;
		text-transform: uppercase;

		@media screen and (max-width: $laptop) {
			font-size: 22px;
		}
	}

	p {
		margin-top: 15px;
		font-weight: $regular;
		line-height: 25px;
		font-size: $texto-1;
		font-family: $cairo;
		margin-left: 25%;
		width: 50%;
		@media screen and (max-width: $laptop) {
			font-size: $semitexto-1;
			width: 100%;
			margin-left: 0%;
		}
	}
}

.text-box2 {
	padding: 80px;
	text-align: center;
	background-color: $negro;

	p {
		font-weight: $regular;
		line-height: 25px;
		font-size: $texto-1;
		color: $blanco;
		font-family: $cairo;
		
		@media screen and (max-width: $laptop) {
			font-size: $semitexto-1;
		}
	}

}

//IMAGE2

.image2 {
	position: relative;
	height: 400px;
	overflow: hidden;

	img {
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
	}
}

//FOOTER
* {
	box-sizing: border-box;
	font-family: $cairo;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

footer {
	background-color: #555;
	color: #bbb;
	line-height: 1.5;
}

footer a {
	text-decoration: none;
	color: #eee;
}

a:hover {
	text-decoration: underline;
}

.ft-title {
	color: #fff;
	font-family: $cairo;
	font-weight: $black;
	text-transform: uppercase;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
}

// Sticks footer to bottom

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container {
	flex: 1;
}

// Footer main

.ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem

	/* 477px */
) {
	.ft-main {
		justify-content: space-evenly;
	}
}

@media only screen and (min-width: 77.5rem

	/* 1240px */
) {
	.ft-main {
		justify-content: space-evenly;
	}
}

.ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
}

// Footer main | Newsletter form

form {
	display: flex;
	flex-wrap: wrap;
}

input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
}

input[type="submit"] {
	background-color: #00d188;
	color: #fff;
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
}

// Footer legal 

.ft-legal {
	padding: 0.9375rem 1.875rem;
	background-color: #333;
}

.ft-legal-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.ft-legal-list li {
	margin: 0.125rem 0.625rem;
	white-space: nowrap;
}

// one before the last child 

.ft-legal-list li:nth-last-child(2) {
	flex: 1;
}