@import "media-queries";

// Estructura

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

// NAVBAR

.navbar-brand{
 	img{
		height: 50px;

		@media screen and (max-width: $laptop)  {
			height: 45px;

		}
	}
}

.fa-bars{
	font-size: 35px;
	color: $blanco;
}

.offcanvas {
	--bs-offcanvas-transition: transform 0.4s ease-in-out !important;
}

.container-fluid {
	padding: 0 29px !important;
	@media screen and (max-width: $laptop) {
		padding: 0 20px !important;
	} 
}

.offcanvas-body{
	ul{
		justify-content: end;
		flex-grow: 1;
		li{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 80px;
			margin: 0 0 0 4%;
			@media screen and (max-width: $laptop)  {
				justify-content: center;
				font-size: 1.25rem;
				margin: 0 12px;
				height: 65px;
			}
			a{	
				color: rgba(255,255,255,0.55);
				padding: 14px 0px 2px 0px;
				text-decoration: none;
				font-family: $poppins;
				font-size: 20px;
				font-weight: $medium;
				line-height: 55px;
				@media screen and (max-width: $laptop) {
					padding: 0;
				}
				
			}
			a:hover {
				color: rgba(255,255,255,0.75);
				transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
			}
			.text-selected{
				color: $blanco;
			}
		}
		hr{
			height: 1px; 
			margin: 0 12px; 
			background-color: $celeste-1; 
			border-radius: 50px; 
			border-width: 0px;
			
			@media screen and (min-width: $laptop)  {
				display: none;
			}
		}
	}
}

.item-selected {
	width: auto;
	height: 5px;
	background-color: $celeste-1 ;
	border-radius: 3px 3px 0px 0px;
	@media screen and (max-width: $laptop) {
		display: none;
	}
}

.item-noselected {
	height: 5px;
	@media screen and (max-width: $laptop) {
		display: none;
	}
}

//TEXT-BOX

.text-box {
	padding: 80px;
	text-align: center;
	height: auto;

	h1 {
		font-family: $cairo;
		font-weight: $black;
		font-size: $subtitulo-1;
		line-height: 20px;
		text-transform: uppercase;

		@media screen and (max-width: $laptop) {
			font-size: 22px;
		}
	}

	p {
		margin-top: 20px;
		font-weight: $regular;
		line-height: 25px;
		font-size: $texto-1;
		font-family: $cairo;
		margin-left: 25%;
		width: 50%;
		@media screen and (max-width: $laptop) {
			font-size: $semitexto-1;
			width: 100%;
			margin-left: 0%;
		}
	}
}

//SLIDER

#carouselExampleAutoplaying {
    @media screen and (max-width: $medium) {
    }
}

.carousel-caption{
    max-width: 500px; 
    display: flex; 
    justify-content: center; 
    align-content: flex-start; 
    flex-direction: column;
    height: 550px;
    @media screen and (max-width: $medium) {
        height: 350px;
    }
}

.img-big {
    filter: brightness(40%);

    @media screen and (max-width: $medium) {
        display: none;
    }

}

.img-medium {
    filter: brightness(40%);

    @media screen and (min-width: $medium) {
        display: none;
    }

}

.slide-title {
    text-align: left; 
    font-size: $titulo-1;
    font-weight: $black;
    text-transform: uppercase;
	@media screen and (max-width: $medium) {
        font-size: 30px;
	}
}

.slide-text{
    text-align: left; 
    font-size: $texto-1;
    font-weight: $light;
	@media screen and (max-width: $medium) {
        font-size: $semitexto-1;
	}
}

.button-slide {
	text-align: left;
	margin-top: 15px;
	a {
		font-family: $poppins;
		font-weight: $semibold;
		font-size: $semitexto-1;
		text-decoration: none;
		color: $blanco;
		border-radius: 50px;
		background-color: $celeste-1;
		padding: 10px 15px;
		text-decoration: none !important;
	}
	a:hover {
		filter: brightness(110%);
	}
}

.text-box2 {
	padding: 80px;
	text-align: center;
	background-color: $negro;

	p {
		font-weight: $regular;
		line-height: 25px;
		font-size: $texto-1;
		color: $blanco;
		font-family: $cairo;
		
		@media screen and (max-width: $laptop) {
			font-size: $semitexto-1;
		}
	}

}

.carousel-indicators {
	button {
		border-radius: 50px;
		height: 15px !important;
		width: 15px !important;
		border-top: 0 !important;
		border-bottom: 0 !important;
		transition: .6s ease !important;
	}
	.active {
		background-color: $verde-1 !important;
	}
}

//IMAGE2

.image2 {
	position: relative;
	height: 400px;
	overflow: hidden;

	img {
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
	}
}

//FOOTER
* {
	box-sizing: border-box;
	font-family: $cairo;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

footer {
	background-color: #555;
	color: #bbb;
	line-height: 1.5;
}

footer a {
	text-decoration: none;
	color: #eee;
}

a:hover {
	text-decoration: underline;
}

.ft-title {
	color: #fff;
	font-family: $cairo;
	font-weight: $black;
	text-transform: uppercase;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
}

// Sticks footer to bottom

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container {
	flex: 1;
}

// Footer main

.ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem

	/* 477px */
) {
	.ft-main {
		justify-content: space-evenly;
	}
}

@media only screen and (min-width: 77.5rem

	/* 1240px */
) {
	.ft-main {
		justify-content: space-evenly;
	}
}

.ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
}

// Footer main | Newsletter form

form {
	display: flex;
	flex-wrap: wrap;
}

input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
}

input[type="submit"] {
	background-color: #00d188;
	color: #fff;
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
}

// Footer legal 

.ft-legal {
	padding: 0.9375rem 1.875rem;
	background-color: #333;
}

.ft-legal-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.ft-legal-list li {
	margin: 0.125rem 0.625rem;
	white-space: nowrap;
}

// one before the last child 

.ft-legal-list li:nth-last-child(2) {
	flex: 1;
}